.g-6 {
    padding-right: 13.89%;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    *padding-right: 0;
    *margin-right: 13.89%;
}

.g-6, .g-row {
    *zoom: 1;
}

.g-6:before, .g-6:after, .g-row:before, .g-row:after {
    clear: both;
    content: '';
    display: block;
}

.g-span-1, .g-span-2, .g-span-3, .g-span-4, .g-span-5, .g-span-6 {
    float: left;
    position: relative;
    *display: inline;
}

.g-first {
    clear: left;
}

.g-span-1 {
    margin-right: -16%;
    width: 16%;
}

.g-span-2 {
    margin-right: -36%;
    width: 36%;
}

.g-span-3 {
    margin-right: -56%;
    width: 56%;
}

.g-span-4 {
    margin-right: -76%;
    width: 76%;
}

.g-span-5 {
    margin-right: -96%;
    width: 96%;
}

.g-span-6 {
    margin-right: -116%;
    width: 116%;
}

.g-col-1 {
    left: 0%;
}

.g-col-2 {
    left: 20%;
}

.g-col-3 {
    left: 40%;
}

.g-col-4 {
    left: 60%;
}

.g-col-5 {
    left: 80%;
}

.g-col-6 {
    left: 100%;
}