body
{
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

input
{
    width: 90%;
    display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.pagination
{
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 1px solid #ff0;
    line-height: 2em;
    text-align: center;
}

.pagination.active
{
    border-color: red;
}